:root {
    --t4b-radius-large: 16px;
    --t4b-radius-medium: 12px;
    --t4b-radius-small: 6px;

    --t4b-border-x1: 4px;
    --t4b-border-x2: 8px;
    --t4b-border-x3: 12px;

    --t4b-space-none: 0;
    --t4b-space-x1: 4px;
    --t4b-space-x2: 8px;
    --t4b-space-x3: 12px;
    --t4b-space-x4: 16px;
    --t4b-space-x5: 20px;
    --t4b-space-x6: 24px;
    --t4b-space-x7: 28px;
    --t4b-space-x8: 32px;
    --t4b-space-x9: 36px;
    --t4b-space-x10: 40px;
    
    --t4b-regular: 400;
    --t4b-medium: 500;
    --t4b-semibold: 600;
    --t4b-bold: 700;

    --t4b-font-xs: 12px;
    --t4b-font-s: 14px;
    --t4b-font-m: 16px;
    --t4b-font-2m: 18px;
    --t4b-font-l: 20px;
    --t4b-font-xl: 24px;
    --t4b-font-2xl: 28px;
    --t4b-font-3xl: 32px;

    --t4b-point-mb: 660px;
    --t4b-point-x1: 860px;
    --t4b-point-x2: 1030px;
    --t4b-point-x3: 1400px;
    --t4b-point-x4: 1600px;
    
    --t4b-line-gap: 12px;
    --t4b-line-x1: 264px;
    --t4b-line-x2: 552px;

    --t4b-bet-modal-button-bg: var(--t4b-primary-accent);
    --t4b-bet-modal-button-border: var(--t4b-primary-accent);
    --t4b-bet-modal-button-text: var(--t4b-white);

    --t4b-channel-card-bg: var(--t4b-background-content);
    --t4b-channel-card-hover: var(--t4b-primary-accent);

    --t4b-betslip-tab-bg: var(--t4b-background-content);
    --t4b-betslip-bet-bg: var(--t4b-background-content);

    --t4b-input-label: var(--t4b-text-color-secondary);
    --t4b-input-bg: var(--t4b-background-content);
    --t4b-input-border: var(--t4b-background-secondary-accent);
    --t4b-input-border-focus: var(--t4b-primary-accent);
    --t4b-input-disabled-bg: var(--t4b-background-secondary-accent);
    --t4b-input-disabled-border: var(--t4b-background-secondary-accent);
    --t4b-input-disabled-text: var(--t4b-text-color-secondary);
    --t4b-input-icon-color: var(--t4b-text-color-secondary);
    --t4b-input-error: var(--t4b-error);
    --t4b-input-disabled-bg: var(--t4b-background-secondary-accent);

    --t4b-select-text: var(--t4b-text-color-primary);
    --t4b-select-placeholder: var(--t4b-text-color-secondary);
    --t4b-select-option-bg: var(--t4b-background-content);
    --t4b-select-option-border: var(--t4b-background-secondary-accent);
    --t4b-select-option-hover: var(--t4b-background-secondary-accent);
    --t4b-select-option-selected: var(--t4b-background-content);
    --t4b-select-option-check-icon: var(--t4b-primary-accent);

    --t4b-file-uploader-label: var(--t4b-text-color-secondary);
    --t4b-file-uploader-upload-box-border: var(--t4b-background-secondary-accent);
    --t4b-file-uploader-upload-box-border-error: var(--t4b-error);
    --t4b-file-uploader-placeholder-color: var(--t4b-text-color-secondary);
    --t4b-file-uploader-preview-border: var(--t4b-background-secondary-accent);

    --t4b-locale-bg: var(--t4b-background);
    --t4b-locale-input-stroke: var(--t4b-background-secondary-accent);
    --t4b-locale-image-stroke: var(--t4b-background-secondary-accent);

    --t4b-active-preset-bg: var(--t4b-primary-accent);
    --t4b-active-preset-color: var(--t4b-background-secondary);

    --t4b-header-bg: var(--t4b-primary-accent);
    --t4b-header-color: var(--t4b-text-color-primary);
    --t4b-header-authorize-button-color: var(--t4b-white);
    --t4b-header-balance-color: var(--t4b-white);
    --t4b-header-balance-modal-text: var(--t4b-text-color-primary);
    --t4b-header-balance-modal-button-color: var(--t4b-primary-accent);
    --t4b-header-balance-modal-button-border: var(--t4b-primary-accent);

    --t4b-mobile-header-block-bg: var(--t4b-background-content);
    --t4b-mobile-header-block-icon: var(--t4b-primary-accent);

    --t4b-language-tooltip-bg: var(--t4b-background);
    --t4b-language-radio-active-bg: var(--t4b-background);
    --t4b-language-radio-active-border: var(--t4b-primary-accent);
    --t4b-language-tooltip-disabled: var(--t4b-background-content);
    --t4b-language-tooltip-selected: var(--t4b-primary-accent);
    --t4b-language-tooltip-wrapper-bg: var(--t4b-background-content);

    --t4b-modal-bg: var(--t4b-background-content);
    --t4b-modal-confirm-border: transparent;

    --t4b-bet-bg: var(--t4b-background-secondary);
    --t4b-bet-bg-hover: var(--t4b-background-secondary);
    --t4b-bet-color: var(--t4b-text-color-primary);
    --t4b-bet-border: var(--t4b-glass-color);


    --t4b-logo1: var(--t4b-white);
    --t4b-logo2: var(--t4b-black);

    --t4b-event-gap: 12px;
    --t4b-event-card-bg: var(--t4b-background-content);
    --t4b-event-card-tier: var(--t4b-main-color);

    --t4b-line-empty-list-bg: var(--t4b-background-content);
    --t4b-line-card-bg: var(--t4b-background-content);
    --t4b-line-card-border: var(--t4b-background-content);
    --t4b-line-card-outcome-text: var(--t4b-text-color-secondary);
    --t4b-line-card-outcome-color: var(--t4b-background-secondary);
    --t4b-line-card-score-text: var(--t4b-text-color-secondary);
    --t4b-line-card-team-image-bg: var(--t4b-background-secondary-accent);
    --t4b-line-card-team-image-border: var(--t4b-background-secondary);
    --t4b-line-card-icon: var(--t4b-primary-accent);

    --t4b-language-icon: var(--t4b-text-color-primary);
    --t4b-language-icon-hover: var(--t4b-text-color-secondary);    

    --t4b-time-filter-text: var(--t4b-text-color-secondary);
    --t4b-time-filter-text-mobile: var(--t4b-text-color-primary);
    --t4b-time-filter-bg: var(--t4b-background-content);
    --t4b-time-filter-live-bg: var(--t4b-error);

    --react-international-phone-background-color: var(--t4b-background-content);
    --react-international-phone-text-color: var(--t4b-text-color-primary);
    --react-international-phone-country-selector-background-color-hover: var(--t4b-background-content);
    --react-international-phone-country-selector-border-color: var(--t4b-background-secondary-accent);
    --react-international-phone-selected-dropdown-item-background-color: var(--t4b-background-content);

    /* Волки */
    --t4b-floating-mobile-menu-icon: var(--t4b-text-color-secondary);
    --t4b-favorites-item-bg: var(--t4b-background-secondary-accent);
    --t4b-scene-rotation: rotateX(-15deg) rotateY(15deg);
    --t4b-tab-color: var(--t4b-text-color-primary);
    --t4b-grid-gap: 8px;
    --t4b-cube-size: 100px;
    --t4b-stream-info-bg: var(--t4b-primary-accent);
    --t4b-authorize-modal-divider: var(--t4b-background-secondary-accent);
    --t4b-selection-text-color: var(--t4b-text-color-primary);
    --t4b-theme-container-bg: var(--t4b-primary-accent);
    --t4b-payment-invoice: var(--t4b-background-content);
    --t4b-background-color-selected-filter: var(--t4b-background-secondary-accent);
    --t4b-text-color-selected-filter: var(--t4b-text-color-primary);
    /* Волки */
}

:root[data-theme='light'] {
    --t4b-text-color-primary: #0c0713;
    --t4b-text-color-secondary: #55515a;
    --t4b-text-color-tertiary: #7c797f;
    --t4b-text-color-contrast: #ffff;

    /* Основной фон страницы */
    --t4b-background: #ebebeb;
    /* Фон контента */
    --t4b-background-content: #ffff;
    /* Фон вторичного контента */
    --t4b-background-secondary: #ebebeb;
    /* Фон вторичного контента акцента */
    --t4b-background-secondary-accent: #d8d8d8;

    --t4b-notification-success-color: #06773d;
    --t4b-notification-error-color: #bb2935;
    --t4b-notification-warning-color: #cd9757;
    --t4b-notification-success-border: #b8e0be;
    --t4b-notification-error-border: #ffccc7;
    --t4b-notification-warning-border: #f6d6b0;
    --t4b-notification-success-bg: #f0fcf2;
    --t4b-notification-error-bg: #fff4f2;
    --t4b-notification-warning-bg: #fffcf2;

    --t4b-main-green: #c2ea6d;
    --t4b-success: #339e00;
    --t4b-win: #26ad50;
    --t4b-warning: #f07e2d;
    --t4b-yellow: #bebe2d;
    --t4b-error: #f24d4dbf;

    --t4b-cs2: #fbac18;
    --t4b-valorant: #ff4655;
    --t4b-dota2: #bf2e1a;
    --t4b-lol: #029dce;
    --t4b-wot: #f25322;
    --t4b-dota2-tg-bg: #731c10;
    --t4b-cs2-tg-bg: #4b3407;
    --t4b-valorant-tg-bg: #8a2a32;
    --t4b-lol-tg-bg: #74561b;
    --t4b-wot-tg-bg: #cd3c0f;

    --t4b-authorize-modal-bg: rgba(0, 0, 0, 0.3);
    --t4b-authorize-modal-input-bg: rgb(255 255 255 / 10%);
    --t4b-authorize-modal-input-border: rgb(0 0 0 / 20%);
    --t4b-floating-mobile-menu-border: hsl(0deg 0% 4% / 15%);

    --t4b-event-header-outcome-bg: #262527;
    --t4b-event-header-outcome-bg-selected: #fff;
    --t4b-event-header-outcome-text: #fff;
    --t4b-event-header-outcome-text-selected: #fff;

    --t4b-white: rgb(255, 255, 255);
    --t4b-black: #2e293d;
    --t4b-white-rgb: 0, 0, 255;
    --t4b-black-rgb: 46, 41, 61;
}

:root[data-theme='dark'] {
    --t4b-text-color-primary: #eceff3;
    --t4b-text-color-secondary: #6f6f76;
    --t4b-text-color-tertiary: #7c797f;
    --t4b-text-color-contrast: #000000;

    --t4b-event-header-outcome-bg: #ebebeb;
    --t4b-event-header-outcome-bg-selected: #0c0713;
    --t4b-event-header-outcome-text: #0c0713;
    --t4b-event-header-outcome-text-selected: #000;

    /* Основной фон страницы */
    --t4b-background: #080808;
    /* Фон контента */
    --t4b-background-content: #212122;
    /* Фон вторичного контента */
    --t4b-background-secondary: #262527;
    /* Фон вторичного контента акцента */
    --t4b-background-secondary-accent: #3a3a3b;

    --t4b-notification-success-color: #3ab35c;
    --t4b-notification-error-color: #b33a3a;
    --t4b-notification-warning-color: #a3b33a;
    --t4b-notification-success-border: #0b4121;
    --t4b-notification-error-border: #410b0b;
    --t4b-notification-warning-border: #3a410b;
    --t4b-notification-success-bg: #052a14;
    --t4b-notification-error-bg: #2a0505;
    --t4b-notification-warning-bg: #292a05;

    --t4b-main-green: #c2ea6d;
    --t4b-success: #339e00;
    --t4b-win: #26ad50;
    --t4b-warning: #f07e2d;
    --t4b-yellow: #bebe2d;
    --t4b-error: #f24d4dbf;

    --t4b-cs2: #fbac18;
    --t4b-valorant: #ff4655;
    --t4b-dota2: #bf2e1a;
    --t4b-lol: #029dce;
    --t4b-wot: #f25322;
    --t4b-dota2-tg-bg: #731c10;
    --t4b-cs2-tg-bg: #4b3407;
    --t4b-valorant-tg-bg: #8a2a32;
    --t4b-lol-tg-bg: #74561b;
    --t4b-wot-tg-bg: #cd3c0f;

    --t4b-authorize-modal-bg: rgb(0 0 0 / 60%);
    --t4b-authorize-modal-input-bg: rgb(255 255 255 / 10%);
    --t4b-stream-info-star-filter: brightness(1.5);
    --t4b-floating-mobile-menu-border: hsl(0deg 0% 100% / 15%);

    --t4b-white: rgb(255, 255, 255);
    --t4b-black: #2e293d;
    --t4b-white-rgb: 0, 0, 255;
    --t4b-black-rgb: 46, 41, 61;
}

:root[data-is-telegram='true'] {
    &[data-game='dota2'] {
        --t4b-notification-info-bg: var(--t4b-dota2-tg-bg);
        --t4b-stream-info-footer: var(--t4b-dota2-tg-bg);
    }

    &[data-game='counterStrike'] {
        --t4b-notification-info-bg: var(--t4b-cs2-tg-bg);
        --t4b-stream-info-footer: var(--t4b-cs2-tg-bg);
    }

    &[data-game='valorant'] {
        --t4b-notification-info-bg: var(--t4b-valorant-tg-bg);
        --t4b-stream-info-footer: var(--t4b-valorant-tg-bg);
    }

    &[data-game='leagueOfLegends'] {
        --t4b-notification-info-bg: var(--t4b-lol-tg-bg);
        --t4b-stream-info-footer: var(--t4b-lol-tg-bg);
    }

    &[data-game='worldOfTanks'] {
        --t4b-notification-info-bg: var(--t4b-wot-tg-bg);
        --t4b-stream-info-footer: var(--t4b-wot-tg-bg);
    }
}

@media (width <= 660px) {
    :root {
        --t4b-font-xs: 13px;
        --t4b-space-x4: 12px;
        --t4b-radius-medium: 10px;
        --t4b-space-x6: 16px;
        --t4b-space-x7: 20px;
    }
}
@media (width > 1030px) {
    :root {
        --t4b-grid-gap: 12px;
    }
}
@media (width > 1400px) {
    :root {
        --t4b-font-xs: 13px;
        --t4b-font-s: 15px;
        --t4b-font-m: 18px;
        --t4b-grid-gap: 16px;
    }
}
